.App {
  text-align: center;
}

#game {
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

#game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

/* SplitScreen.css */
.container {
  display: -webkit-flex; /* Safari */ 
  display: flex; /* Standard syntax */
  width: 100vw;
  height: 100%;
}

.left, .right {
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
  background-size: cover;
}

/* TODO: Add overlay to only show over background and
not over other elements */
.container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2); /* Dark overlay */
  backdrop-filter: blur(5px); /* Blur effect */
  z-index: -1; /* Ensure overlay is on top */
}
